@using GeorigsGarage.Data.Models.Enums
@model GeorgisGarage.Web.Areas.Administration.Models.Users.UsersOrdersWrapperViewModel
<div class="justify-content-center row h3 text-light">Поръчки на @Model.User.UserName</div>
<hr />
<div class="row col-12">
    <div class="container-fluid">
        <table class="table table-dark table-borderless table-hover rounded">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-3 d-flex justify-content-center">Id</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Статус на поръчката</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Град</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Адрес</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Общо</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Още</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in @Model.UsersOrders)
                {
                    <tr class="row">
                        <td class="col-3 d-flex justify-content-center">@order.Id</td>
                        <td class="col-2 d-flex justify-content-center">@order.OrderStatus</td>
                        <td class="col-1 d-flex justify-content-center">@order.City</td>
                        <td class="col-2 d-flex justify-content-center">@order.Address</td>
                        <td class="col-2 d-flex justify-content-center">@order.TotalPrice</td>
                        <td class="col-2 d-flex justify-content-center">
                            <div class="btn-group" role="group" aria-label="Admin-func">
                                @if (order.OrderStatus == "Processed")
                                {
                                    <a class="btn btn-outline-danger" asp-area="Administration" asp-controller="Orders" asp-action="Send" asp-route-id="@order.Id">Изпрати</a>
                                }
                                @if (order.OrderStatus == "Sent")
                                {
                                    <a class="btn btn-outline-danger" asp-area="Administration" asp-controller="Orders" asp-action="Deliver" asp-route-id="@order.Id">Достави</a>
                                }
                                <a class="btn btn-outline-danger" asp-area="Administration" asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id">Детайли</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>