@model ICollection<GeorgisGarage.Web.Areas.Administration.Models.Services.ServicesViewModel>
@{
    ViewData["Title"] = "AllServices";
}
<div class="justify-content-center row h3 text-light">Всички услуги</div>
<hr />
<div class="row col-12">
    <div class="container-fluid">
        <table class="table table-dark table-borderless table-hover rounded">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-3 d-flex justify-content-center">Id</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Име</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Добавено от</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Коментари</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Рейтинг</th>
                    <th scope="col" class="col-3 d-flex justify-content-center">Още</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in @Model)
                {
                    <tr class="row">
                        <td class="col-3 d-flex justify-content-center">@service.Id</td>
                        <td class="col-2 d-flex justify-content-center">@service.Name</td>
                        <td class="col-2 d-flex justify-content-center">@service.PostedBy</td>
                        <td class="col-1 d-flex justify-content-center">@service.Comments</td>
                        <td class="col-1 d-flex justify-content-center">@service.Rating</td>
                        <td class="col-3 d-flex justify-content-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Admin-func">
                                <a class="btn btn-outline-danger" asp-area="Services" asp-controller="Home" asp-action="EditService" asp-route-id="@service.Id">Редактирай</a>
                                <a class="btn btn-outline-danger" asp-area="Services" asp-controller="Home" asp-action="Service" asp-route-id="@service.Id">Детайли</a>
                                <a class="btn btn-outline-danger" asp-area="Services" asp-controller="Home" asp-action="DeleteService" asp-route-id="@service.Id">Изтрий</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>