@model ICollection<GeorgisGarage.Web.Areas.Services.Models.ServicesIndex.ServiceViewModel>
@{
    ViewData["Title"] = "AllRoads";
}
<div class="justify-content-center row h3 text-light">Всички трасета</div>
<hr />
<div class="row col-12">
    <div class="container-fluid">
        <table class="table table-dark table-borderless table-hover rounded">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-3 d-flex justify-content-center">Id</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Име</th>
                    <th scope="col" class="col-2 d-flex justify-content-center">Добавено от</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Коментари</th>
                    <th scope="col" class="col-1 d-flex justify-content-center">Рейтинг</th>
                    <th scope="col" class="col-3 d-flex justify-content-center">Още</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var road in @Model)
                {
                    <tr class="row">
                        <td class="col-3 d-flex justify-content-center">@road.Id</td>
                        <td class="col-2 d-flex justify-content-center">@road.Name</td>
                        <td class="col-2 d-flex justify-content-center">@road.PostedBy</td>
                        <td class="col-1 d-flex justify-content-center">@road.Comments</td>
                        <td class="col-1 d-flex justify-content-center">@road.Rating</td>
                        <td class="col-3 d-flex justify-content-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Admin-func">
                                <a class="btn btn-outline-danger" asp-area="Roads" asp-controller="Home" asp-action="EditRoad" asp-route-id="@road.Id">Редактирай</a>
                                <a class="btn btn-outline-danger" asp-area="Roads" asp-controller="Home" asp-action="Road" asp-route-id="@road.Id">Детайли</a>
                                <a class="btn btn-outline-danger" asp-area="Roads" asp-controller="Home" asp-action="DeleteRoad" asp-route-id="@road.Id">Изтрий</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>